{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}

    <!-- sign in -->
    <div class="sign section--full-bg" data-bg="img/bg2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <!-- authorization form -->
                        <form method="post" action="#" class="sign__form">
                            <a href="{{ path('home') }}" class="sign__logo">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a
                                                href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                                <img src="images/efrei.png" alt="">
                            </a>

                            <div class="sign__group">
                                <input type="text" class="sign__input" id="floatingInput"
                                       placeholder="Username" name="username">
                            </div>

                            <div class="sign__group">
                                <input type="password" class="sign__input" id="floatingPassword"
                                       placeholder="Password" name="password">
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="sign__btn" type="submit">Sign in</button>

                            <span class="sign__text">Don't have an account? <a href="{{ path('app_register') }}">Sign up!</a></span>

                        </form>
                        <!-- end authorization form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end sign in -->

{% endblock %}
