{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <!-- sign in -->
    <div class="sign section--full-bg" data-bg="img/bg2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <!-- registration form -->
                        <form method="post" action="#" class="sign__form">
                            {{ form_start(registrationForm) }}

                            <a href="{{ path('home') }}" class="sign__logo">
                                <img src="images/efrei.png" alt="">
                            </a>

                            <div class="sign__group">
                                {{ form_widget(registrationForm.username) }}
                                <div class="invalid-feedback">
                                    Valid username is required.
                                </div>
                            </div>

                            <div class="sign__group">
                                {{ form_widget(registrationForm.email) }}
                                <div class="invalid-feedback">
                                    Valid username is required.
                                </div>
                            </div>

                            <div class="sign__group">
                                {{ form_widget(registrationForm.plainPassword) }}
                                <div class="invalid-feedback">
                                    Valid password is required.
                                </div>
                            </div>

                            <div class="sign__group sign__group--checkbox">
                                {{ form_widget(registrationForm.agreeTerms) }}
                                {{ form_label(registrationForm.agreeTerms) }}
                            </div>

                            <button class="sign__btn" type="submit">Sign up</button>

                            <span class="sign__text">Already have an account? <a href="{{ path('app_login') }}">Sign in!</a></span>
                            {{ form_rest(registrationForm) }}
                            {{ form_end(registrationForm) }}
                        </form>
                        <!-- registration form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end sign in -->

{% endblock %}
