{% extends 'base.html.twig' %}

{% block title %}Offre : {{ offre.title }}{% endblock %}

{% block body %}

    <!-- section -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="details">
                        <div class="details__head">
                            <div class="details__cover">
                                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset("./images/#{offre.images[0]}") }}" alt="">
                            </div>

                            <div class="details__wrap">
                                <h1 class="details__title">{{ offre.title }}</h1>

                                <ul class="details__list">
                                    <li><span>Category:</span>{{ offre.category.name|capitalize }}</li>
                                    <li><span>Created by:</span>{{ offre.user.username|capitalize }}</li>
                                    <li><span>Released:</span>{{ offre.createdAt|date("m/d/Y", "Europe/Paris") }}</li>
                                    <li><span>Last update:</span>{{ offre.modifiedAt|date("m/d/Y", "Europe/Paris") }}</li>
                                    <li>Version: </li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>

                        <div class="details__text">
                            <p>{{ offre.description }}</p>
                        </div>

                        <div class="details__gallery">
                            <div class="details__carousel owl-carousel" id="details__carousel">
                                {% for image in offre.images %}
                                    <a href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset("./images/#{image}") }}" >
                                        <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset("./images/#{image}") }}" alt="">
                                    </a>
                                {% endfor %}
                            </div>

                            <button class="details__nav details__nav--prev" data-nav="#details__carousel" type="button">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='328 112 184 256 328 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg>
                            </button>
                            <button class="details__nav details__nav--next" data-nav="#details__carousel" type="button">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='184 112 328 256 184 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg>
                            </button>
                        </div>

                        <div class="details__cart">
                            <ul class="details__stat">
                                <li>
                                    <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'>
                                        <path d='M394,480a16,16,0,0,1-9.39-3L256,383.76,127.39,477a16,16,0,0,1-24.55-18.08L153,310.35,23,221.2A16,16,0,0,1,32,192H192.38l48.4-148.95a16,16,0,0,1,30.44,0l48.4,149H480a16,16,0,0,1,9.05,29.2L359,310.35l50.13,148.53A16,16,0,0,1,394,480Z'/>
                                    </svg>
                                    <b>Note</b>
                                </li>
                            </ul>

                            <span class="details__cart-title">PRICE</span>
                            <div class="details__price">
                                <span>${{ offre.price }}</span>
                            </div>

                            <div class="details__actions">
                                <button class="details__buy" type="button">Contact {{ offre.user.username|capitalize }}</button>

                                <button class="details__favorite" type="button">
                                    Report this publication
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->



{% endblock %}
