{% extends 'base.admin.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

    <!-- section -->
    <section class="section section--last">
        <div class="container">
            <!-- content tabs -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive table-responsive--border">
                                <table class="profile__table">
                                    <thead>
                                    <tr>
                                        <th>Role</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                        {% for user in users %}
                                            <tr>
                                                <td>
                                                    {% if user.roles|length < 2 %}
                                                        <span class="badge rounded-pill bg-secondary">Utilisateur</span>
                                                    {% else %}
                                                        <span class="badge rounded-pill bg-primary">Administrateur</span>
                                                    {% endif %}
                                                </td>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>
                                                    {% if user.roles|length < 2 %}
                                                        <a href="{{ path('admin_user_delete', {'id': user.id}) }}" onclick="return confirm('supprimer l\'utilisateur {{ user.username }}')">
                                                            <button class="profile__logout" type="button">Supprimer</button>
                                                        </a>
                                                    {% else %}
                                                        
                                                    {% endif %}
                                                </td>
                                            </tr>

                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Supprimer {{ user.username }}</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Vous êtes sur le point de supprimer définitivement ce compte
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="{{ path('admin_user_delete', {'id': user.id}) }}"><button type="submit" class="btn btn-primary">Valider la suppresion</button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end content tabs -->
        </div>
    </section>
    <!-- end section -->

{% endblock %}
